 body{
     background-color: #00AA88;
     color: white;
     flex-wrap: wrap;
     text-align: center;

}
 header{
     border-style: outset;
     color: black;
     text-align: center;


 }
    img{
        height: 150px;
        width : 150px;
        justify-content: flex-start;
         align-items: center;

}
    header img{
        height: 400px;
        width: 300px;


    }
    section
    {
        border-style: outset;
        border-color: #AA0000;
        gap: 50px;

    }

    footer{
        background-color: darkgreen;
        height: 40px;
        align-items: center;


    }
    main h1{
        color: black;

    }
    header h1{
        color: yellow;

    }
    p{
        color: orangered;
        text-decoration-color: darkgreen;
        border-style: wave;
        border-width: 30px;
        border-color: #AA0000;
    }

